body {
    text-align: center;
    font-family: Arial;
    margin-top: 50px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px;
}
